<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAlfQs3hXStQhwr0fE3wqWGM3SFnht-KqA</string>
	<key>GCM_SENDER_ID</key>
	<string>662925750982</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.philippenikolov.pickup.PickUp</string>
	<key>PROJECT_ID</key>
	<string>pickup-d8e2c</string>
	<key>STORAGE_BUCKET</key>
	<string>pickup-d8e2c.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:662925750982:ios:34000291b1b91aa82bddc7</string>
</dict>
</plist>